<div class="page-container">
  <div>
    <%= render 'shared/developer/myprofile' %>
  </div>
  <div class="back-button-container">
    <%=  link_to "Back", developers_path, class: "back-button" %><br />
  </div>
</div>
