.welcome-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: center;
  h1 {
    color: white;
    font-weight: bolder;
  }
}

.welcome-h1 {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.welcome-text {
  color: white;
  font-weight: bold;
  text-align: center;
}

.sign-in-button {
  // margin: 64px;
  // border-radius: 16px;
  // padding: 24px;
  width: 100%;
  background-color: white;
  border-radius: 24px;
  margin-bottom: 25px;
  margin-top: 25px;
  color: black;
}

.welcome-photo {
  display: flex;
  justify-content: center;
  img {
  border-radius: 50%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  }
}

.welcome-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 64px;
  padding: 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: white;
  font-size: large;
  a:hover, a:active, a:focus {
    color: grey;
  }
}
