<div class="page-container">
    <div>

    <% @chatrooms.each do |chat| %>
     <% if @user.role == "developer" %>
      <%= link_to chat.match.company.name, chatroom_path(chat) %>
      <% elsif @user.role == "company" %>
        <%= link_to chat.match.developer.name, chatroom_path(chat) %>
      <% end %>
    <% end %>

    </div>
</div>
