<div class="page-container">
  <% if @user.role == 'company' %>
    <%= render 'shared/company/myprofile' %>
  <% elsif @user.role == 'developer' %>
    <%= render 'shared/developer/myprofile' %>

  <% end %>
  <br>
    <%= link_to "Edit details", edit_user_registration_path, class: "settings-buttons" %>
  <br>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "log-out-button" %>
</div>
