<p>This is the user page.</p>
<%# <%= render 'shared/company/frost_comp_card' %> 

<%# <%= render 'shared/company/profile_complete' %> 
<%# <%= render 'shared/company/comp_swipe' %>
<%= render 'shared/card' %>


