<ul class="nav bg-white justify-content-center bg-success fixed-bottom d-flex justify-content-around mw-100">
  <!-- globe -->
    <%= link_to root_path do %>
      <li class="nav-item p-2 ">
        <i class='bx bx-globe' style="font-size: 30px;"  ></i>
      </li>
    <% end %>
  <!-- heart -->
  <a href="#">
      <li class="nav-item p-2 ">
        <i class='bx bx-heart' style="font-size: 30px;" ></i>
      </li>
  </a>
    <!-- Matchable -->

  <%= link_to matches_path(@match) do %>
      <li class="nav-item p-2 ">
        <i class='bx bxl-gmail' style="font-size: 30px;"></i>
      </li>
  <% end %>

  <!-- chat -->
  <a href="#">
      <li class="nav-item p-2 ">
        <i class='bx bx-conversation' style="font-size: 30px;"></i>
      </li>
  </a>
  <!-- user -->
  <%= link_to user_path(@user) do %>
    <li class="nav-item p-2 ">
      <i class='bx bx-user-circle' style="font-size: 30px;"></i>
    </li>
  <% end %>
  </ul>
