<ul class="nav justify-content-center bg-success w-100 fixed-bottom d-flex justify-content-around">
   <!-- globe -->
   <a href="#">
   <li class="nav-item p-2 ">
    <i class='bx bx-globe' style="font-size: 30px;"  ></i>
      </li>
  </a>
  <!-- heart -->
  <a href="#">
      <li class="nav-item p-2 ">
        <i class='bx bx-heart' style="font-size: 30px;" ></i>
      </li>
  </a>
  <!-- chat -->
  <a href="#">
      <li class="nav-item p-2 ">
        <i class='bx bx-conversation' style="font-size: 30px;"></i>
      </li>
  </a>
  <!-- user -->
  <a href="#">
      <li class="nav-item p-2 ">
        <i class='bx bx-user-circle' style="font-size: 30px;"></i>
      </li>
  </a>
  </ul> 