  <div>
    <%= link_to new_developer_path, class: "choice-button" do %>
        <h1>Developer</h1>
    <% end %>

    <%= link_to new_company_path, class: "choice-button" do %>
        <h1>Company</h1>
    <% end %>
  </div>
