        <div id="card">
            <div class="card-header">
                <div class="card-cover" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png')"></div>
                <img class="card-avatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png" alt="avatar">
                <h1 class="card-fullname">Google</h1>
                <h2 class="card-jobtitle">A big company.</h2>
            </div>
            <div class="card-frame">
                <div class="card-section is-active" id="about">
                    <div class="card-content">
                        <div class="card-subtitle">ABOUT</div>
                        <p class="card-desc">I am a Full-Stack Web Developer specialized in Ruby on Rails, JavaScript, HTML and CSS. I just completed a Web Dev Bootcamp at Le Wagon Mauritius.</p>
                    </div>
                    <div class="card-icon">
                        <a href="#">Tech</a>
                        <a href="#">Tech</a>
                        <a href="#">Tech</a>
                        <a href="#">Tech</a>
                    </div>
                </div>
            </div>
        </div>