<div class="company " data-state="#about">
    <div class="company-header">
        <div class="company-cover" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png')"></div>
        <img class="company-avatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png" alt="avatar">
        <h1 class="company-fullname"><%= @company.name %></h1>
        <h2 class="company-jobtitle">A big company.</h2>
    </div>
    <div class="company-frame">
        <div class="company-section action" id="about">
            <div class="company-content">
                <div class="company-subtitle">ABOUT</div>
                <p class="company-desc"><%= @company.description %></p>
            </div>
            <div class="company-icon">
                <a href="#">Tech</a>
                <a href="#">Tech</a>
                <a href="#">Tech</a>
                <a href="#">Tech</a>
            </div>
        </div>
        <div class="company-section" id="experience">
            <div class="company-content">
                <div class="company-subtitle">AVAILABLE JOBS</div>
                <div class="company-timeline">
                    <div class="company-item" data-year="1">
                        <div class="company-item-title">Full-Stack Developer for <span>R&D Department</span></div>
                        <div class="company-item-desc">Help us create additional featres</div>
                    </div>
                    <div class="company-item" data-year="2">
                        <div class="company-item-title">Web Designer at <span>Youtube</span></div>
                        <div class="company-item-desc">redesign the whole layout and provide a better user experience for the whole world and change averything.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="company-section" id="contact">
            <div class="company-content">
                <div class="company-subtitle">CONTACT</div>
                    <div class="company-contact-wrapper">
                    <div class="company-contact">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0118 0z"></path>
                        <circle cx="12" cy="10" r="3"></circle></svg>
                        Les Cocottes, St Pierre, Moka, Mauritius
                    </div>
                <div class="company-contact">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M22 16.92v3a2 2 0 01-2.18 2 19.79 19.79 0 01-8.63-3.07 19.5 19.5 0 01-6-6 19.79 19.79 0 01-3.07-8.67A2 2 0 014.11 2h3a2 2 0 012 1.72 12.84 12.84 0 00.7 2.81 2 2 0 01-.45 2.11L8.09 9.91a16 16 0 006 6l1.27-1.27a2 2 0 012.11-.45 12.84 12.84 0 002.81.7A2 2 0 0122 16.92z"></path></svg>(230) 123 4567</div>
                    <div class="company-contact">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                        <path d="M22 6l-10 7L2 6"></path></svg>
                        mail@gmail.com
                    </div>
                    <button class="contact-me">JOIN US</button>
                </div>
            </div>
        </div>
        <div class="company-buttons">
            <button data-section="#about" class="action">ABOUT</button>
            <button data-section="#experience" class="">JOBS</button>
            <button data-section="#contact" class="">CONTACT</button>
        </div>
    </div>
</div>