<div class="phone">
  <div class="page-container">
    <% @companies.each do |c| %>
      <div>
        <h1><%= c.name %></h1>
        <% if c.photo.attached? %>
          <%= cl_image_tag c.photo.key, height: 250 %>
        <% end %>
        <p><%= c.address %></p>
      </div>
    <% end %>
  </div>
</div>
