<div class="page-container">
  <div class="fade-in" id="companies">
    <% @companies.each do |company| %>
      <%= link_to company_path(company) do %>
        <div class="card-product">
          <% if company.photo.attached? %>
            <%= cl_image_tag company.photo.key%>
          <% end %>
          <div class="card-product-infos">
            <h2><%= company.name %></h2>
            <p><%= company.address %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
