<div class="page-container">
  <div>
    <%= render 'shared/company/myprofile' %>
  </div>
  <div class="back-button-container">
    <%=  link_to "Back", companies_path, class: "back-button" %><br />
  </div>
</div>
