<div class="error">
  <div>
    <h1 class= "text-center text-white">Error: Not Found</h1>
    <br>

    <div class= "text-center">
      <%=  link_to "Back to the main page", root_path, class: "login-button " %><br />
    </div>

  </div>
</div>
