<br>
<h1 class= "text-center">Errors not found</h1>
<br>
<%# <p>Find me in app/views/errors/not_found.html.erb</p> %>
<div class= "text-center">
  <%=  link_to "Back to the main menu", root_path, class: "login-button " %><br />
</div>
