<div class="error">
  <div>
    <h1 class= "text-center">Errors not found</h1>
    <br>

    <div class= "text-center">
      <%=  link_to "Back to the main menu", root_path, class: "login-button " %><br />
    </div>

  </div>
</div>
