    <div class="container">
    <h1> Build Your Profile</h1>
    <i class='bx bx-user-circle'></i>
    <p><strong>Biography</strong></p>
    <input type="text" class="input-box" placeholder="Tell us more about you..">
    <fieldset class="form-group check_boxes optional snippet_tags">
        <legend class="col-form-label pt-0">Select Job Roles</legend>
        <input type="hidden" name="snippet[tag_ids][]" value="">
        <div class="tag-item">
          <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="snippet[tag_ids][]" id="snippet_tag_ids_1">
          <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1">Product Designer</label>
          <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="snippet[tag_ids][]" id="snippet_tag_ids_1">
          <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1">Web Designer</label>
          <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="snippet[tag_ids][]" id="snippet_tag_ids_1">
          <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1">UX Designer</label>
          <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="snippet[tag_ids][]" id="snippet_tag_ids_1">
          <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1">Graphics Designer</label>
          <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="snippet[tag_ids][]" id="snippet_tag_ids_1">
          <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1">Full-Stack Developer</label>
          <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="snippet[tag_ids][]" id="snippet_tag_ids_1">
          <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1">Developer</label>
        </div>
        ...
      </fieldset>
      <fieldset class="form-group check_boxes optional snippet_tags">
        <legend class="col-form-label pt-0">Job Type</legend>
        <input type="hidden" name="snippet[tag_ids][]" value="">
        <div class="tag-item">
          <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="snippet[tag_ids][]" id="snippet_tag_ids_1">
          <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1">Any</label>
          <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="snippet[tag_ids][]" id="snippet_tag_ids_1">
          <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1">Full-Time</label>
          <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="snippet[tag_ids][]" id="snippet_tag_ids_1">
          <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1">Part-Time</label>
        </div>
        </fieldset>
        <fieldset class="form-group check_boxes optional snippet_tags">
            <legend class="col-form-label pt-0">Office</legend>
            <input type="hidden" name="snippet[tag_ids][]" value="">
            <div class="tag-item">
              <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="snippet[tag_ids][]" id="snippet_tag_ids_1">
              <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1">Any</label>
              <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="snippet[tag_ids][]" id="snippet_tag_ids_1">
              <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1">On-Site</label>
              <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="1" name="snippet[tag_ids][]" id="snippet_tag_ids_1">
              <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1">Remote</label>
            </div>
            </fieldset>
            <p class="title"><strong>Current Affiliation</strong></p>
            <input type="text" class="input-box" placeholder="Job title">
            <input type="text" class="input-box" placeholder="Current Company">
            <p class="title"><strong>Contact Details</strong></p>
            <input type="text" class="input-box" placeholder="Phone number">
            <input type="text" class="input-box" placeholder="Website">
            <input type="text" class="input-box" placeholder="Zoom">
            <div class="wrapper">
                <form action="#">
                  <input class="file-input" type="file" name="file" hidden>
                  <i class="fas fa-cloud-upload-alt"></i>
                  <p>Upload Resume</p>
                </form>
                <section class="progress-area"></section>
                <section class="uploaded-area"></section>
            </div>
              <script src="script.js"></script>
        <button type="button" class="">Save</button>
    </div>
